<style>
  
    /* space between buttons */
    .btn-space {
        margin-right: 50px;
    }
    
    .btn:focus, .btn:active {
      outline: none !important;
      box-shadow: none !important;
    }
    </style>
  
  
  
  {% extends "global/Page.html" %}
  {% load otree static %}
  
  {% block head_title %}
  Decision_2
  {% endblock %}
  
  {% block title %}
  
  {% endblock %}
  
  {% block scripts %}
  
  <script src="{% static 'back_button_v1/js/prev_next_button.js' %}"></script>
  
  {% endblock %}
  
  
  {% block styles %}
  
  <link href="{% static 'back_button_v1/css/custom.css' %}" rel="stylesheet">
  
  {% endblock %}



  {% block content %}
  
  
  
  
    <div class="card">
    <div class="card-header">
      <p><span style="font-weight: 400">The management board received your recommendation. The board now asks you to <strong>decide if the project Smart {{ player.initial_decision }} should be continued or terminated</strong></span>.</p>
      <p><span style="font-weight: 400">If you continue your project now you will be given updated information about the project’s development. In this case you will have to make a final project decision one year later.</span></p>
      <br>
      <p>To make a decision, click on the corresponding box:</p>
    </div>
    <div class="card-body">
        <br>
        <div style="text-align:center">
                <button type="button" class="btn btn-secondary btn-space" onclick="save_coffee()" id="coffee">Continue my project Smart {{ player.initial_decision }}</button>
                <button type="button" class="btn btn-secondary btn-space" onclick="save_tee()" id="tee">Terminate my project Smart {{ player.initial_decision }}</button>
        </div>
        <br>
        <hr>
  
        <div class="alert alert-primary" role="alert" id="selection" style="text-align: center;">
            The management board will ... the project Smart {{ player.initial_decision }}!
        </div>
        <br>
        <div class="form-check required">
          <label class="form-check-label  field-initial_checkbox" for="check">
            <input id="check" type="checkbox" required="" class="form-check-input">
            I made my decision
          </label>
        </div>
    </div>
  </div>
  
  <br>
  
  <div style="text-align: right;">
  <button type="button" class="nexttab btn-primary btn next" id="nextbutton" data-toggle="tooltip" title="Please indicate if you want to continue or terminate your project">Submit decision</button>
  </div>

  
  <input type="hidden" name="timer_subchoice" id="timer_subchoice" value=0>
  <input type="hidden" name="sub1_choices" id="sub1_choices"> 
  
  <script>
  
      let decision_array = []
      function save_tee() {
          //$('#nextbutton').prop('disabled',false); //decision has to be made before nextbutton is clickable
          $('#nextbutton').removeAttr("type"); // removes type attribute from next button so form can be submitted
          $('#nextbutton').removeAttr('data-original-title'); // removes tooltip
          $('#tee').css({"background-color": "#007bff", "border-color": "#007bff"}); //highlight
          $('#coffee').css({"background-color": "#6c757d", "border-color": "#6c757d"}); //unhighlight
          $('#selection').html("The management board will <b>terminate</b> the project Smart {{ player.initial_decision }}!");
          decision_array.push("terminate") //push click to array
          $("#sub1_choices").val(decision_array); //save array
      }
      
      function save_coffee() {
          $('#nextbutton').removeAttr("type"); // removes type attribute from next button so form can be submitted
          $('#nextbutton').removeAttr('data-original-title'); // removes tooltip
          $('#tee').css({"background-color": "#6c757d", "border-color": "#6c757d"});
          $('#coffee').css({"background-color": "#007bff", "border-color": "#007bff"});
          $('#selection').html("The management board will <b>continue</b> the project Smart {{ player.initial_decision }}!");
          decision_array.push("continue")
          $("#sub1_choices").val(decision_array);
      }
      
      
      var sec = 0; // global variable
      
      // increasing timer
      function pad ( val ) { return val > 9 ? val : "0" + val; }
      setInterval( function(){
          $("#seconds").html(pad(++sec));
          $("#timer_subchoice").val(sec); // store seconds spent on page in hidden field
      }, 1000);

      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
      });
    
    </script>
    
  
  
  
  
  
  {% endblock %}