{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
    END
{% endblock %}

{% block title %}
End of Experiment
{% endblock %}


{% block content %}

<p>The experiment is completed. Your completion code is: <strong>jlu2021research</strong>. Once again, thank you very much for your participation. If you have any questions, please feel free to contact us. We wish you a nice and successful day. Goodbye. 
</p>

<br>

<div class="row">
    <div class="col-sm-2"><img src="https://i.imgur.com/BtaAoti.png" width="130" height="130" alt="Error"></div>
    <div class="col-md-6"><br><p style="font-size:32"><span style="font-size:20px"><strong>Justus-Liebig-University Gießen</strong></span><br>
        Chair of Managerial Accounting <br>
        <a href="mailto:jluresearch.bwl4@gmail.com">jluresearch.bwl4@gmail.com</a></p></div>
    <div class="col-md-1"></div>
</div>
<br>
<br>



{% endblock %}