{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
    Reminder
{% endblock %}

{% block title %}

{% endblock %}


{% block content %}
<br> 

<div class="alert alert-info" role="alert" style="border-color: black;">
    As you know, the major part of your variable compensation depends on the project success and thus your decisions.<hr>You also have the opportunity to receive a Courage Award if you have the courage to take value adding risks by trying something new.
  </div>



  
<div>
    

    <div style="text-align:right">
        <button id="nextbutton" class="btn btn-primary" data-toggle="tooltip">Continue to choose a project</button></div>
 
 </div>
 {% comment %}
 {% include "global/FooterContentWithInitialA1.html" %}
 {% endcomment %}

{% endblock %}