{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Fail
{% endblock %}

{% block title %}
Thank you very much for participating in our experiment.
{% endblock %}

{% block content %}

Unfortunately you do not meet the required qualifications for this experiment. Because of this, the experiment is now over for you. <br> As already mentioned in the introduction, you do not receive any compensation for this HIT.


<br> <br>
Thank you once again for the time you have already spent. We wish you a wonderful day. Goodbye.

 
{% endblock %}