{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Failure Award
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h4><strong>You could be the next person who receives the Failure Award!</strong></h4>
    </div>
  
    
          <div class="card-body">
            <p class="card-text">These are the general requirements to receive a Failure Award:</p>
            
            <div class="alert alert-warning" role="alert" style="border-color: black;">
              CleverClean Inc. grants Failure Awards to managers who <strong>have the courage to take value adding risks by trying something new and are not afraid to fail big. Additionally, managers should also have the courage to ”pull the plug” of a failing project before more resources are wasted and are not afraid to admit their failures</strong>.
            </div>
            <hr>
            
                <p><Strong><i>How do you, as a leading project manager, qualify to receive a Failure Award</i>?</Strong></p>
                <p>In case you take value adding risks but your project ends up failing, you can be certain to receive a Failure Award if you deliberately decide for project discontinuation. If you decide to discontinue your project at a later point of time, you still have the chance to earn a Failure Award. However, in case of delayed project discontinuation, a Failure Award is only granted with a 50% chance.</p><hr>
            
                <p><Strong><i>How does CleverClean Inc. define a failing project</i>?</Strong></p>
                <p>A project is defined as failing if investing a dollar in this project creates lower expected returns than investing in alternative projects.</p><hr>
                
                <p><Strong><i>Besides the reward ceremony, what exactly do you receive as a Failure Award</i>?</Strong></p>
                <p>CleverClean Inc. has allocated a total budget of 0.2 million Lira for its Failure Awards. Each Failure Award is worth 1% of the 0.2 million Lira budget.</p>  
        
            </div>
</div>

<br> 
<br> 

<div style="text-align:right">
    <button id="nextbutton" class="btn btn-primary" data-toggle="tooltip">Continue to the quiz</button>
</div>



{% endblock %}