{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Fail
{% endblock %}

{% block title %}
Thank you very much for participating in our experiment.
{% endblock %}

{% block content %}

{% if player.timespent_lottery is not None and player.timespent_lottery < 30 %}
<p>You spent less than {{ player.timespent_lottery}} seconds on the lottery task, which is significantly less than the bare minimum to accurately understand and answer the task. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.timespent_instructions is not None and player.timespent_instructions < 70 %}
<p>You spent less than {{ player.timespent_instructions}} seconds on the instructions page, which is significantly less than the bare minimum to accurately understand and answer the task. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.timespent_failureaward is not None and player.timespent_failureaward < 50 %}
<p>You spent less than {{ player.timespent_failureaward}} seconds on the previous page, which is significantly less than the bare minimum to accurately understand and answer the task. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.quiz_totalwronganswers is not None and player.quiz_totalwronganswers >= 15 %}
<p>You made {{ player.quiz_totalwronganswers}} mistakes on the quiz questions which indicates that you did not fully understand the instructions. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.timespent_initialdecision is not None and player.timespent_initialdecision < 40 %}
<p>You spent less than {{ player.timespent_initialdecision}} seconds on the previous page, which is significantly less than the bare minimum to accurately understand and answer the task. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.timespent_projectupdate is not None and player.timespent_projectupdate < 90 %}
<p>You spent less than {{ player.timespent_projectupdate}} seconds on the previous page, which is significantly less than the bare minimum to accurately understand and answer the task. Due to your strikingly inattentive behavior, you will not be able to complete the task. You accepted the rules of this HIT in the very beginning, which stated that you will not be compensated if inattentive behavior is detected.</p>
{% elif player.prizewheel != 3 %}
Unfortunately you do not meet the required qualifications for this experiment. Because of this, the experiment is now over for you.<br> As already mentioned in the introduction, you do not receive any compensation for this HIT.
{% endif %}
<hr>
You accepted the following conditions at the very beginning of the HIT:
<img src="https://i.imgur.com/fm5uasq.png" alt="" style="width:1100px;height:400px;">
<hr>
Since you violated the accepted requirements, we recommend you to return the HIT, which will not have any negative consequences on your MTurk rating.

 
{% endblock %}