{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Lottery task
{% endblock %}

{% block title %}
   Lottery task
{% endblock %}

{% block content %}

<div class="alert alert-info" role="alert" style="color:black">
 <strong>Please choose the scenario in which you want to switch from the lottery to the safe payment.</strong>
</div>
<br>

<table class="table table-striped table-hover table-sm" style="text-align:center;">
  <colgroup>
      <col width="25%">
      <col width="35%">
      <col width="40%">
  </colgroup>
  <thead> <tr class="table-secondary"> 
      <th scope="col" style="text-align: center; vertical-align: middle;"> Safe payment</th> 
      <th scope="col" style="text-align: center; vertical-align: middle;"> Switch here from the lottery <br>to the safe payment</th> 
      <th scope="col" style="text-align: center; vertical-align: middle;"> Lottery</th> 
  </tr> </thead>
  <tbody style="font-size: 90%;">
    <!-- see pages.py -->
    <!-- scenario 1 to 15 -->
              {% for successrate, failurerate, lottery_choice_field in data %}
              <tr>
                  <td>{{ Constants.lottery_payout.0 }}</td>
                  <td>
                      <label for="id_lottery_choice_{{ forloop.counter }}">
                          <input id="{{ lottery_choice_field }}" type="radio" name="lottery_choice" value="{{ forloop.counter }}" required="" class="form-check-input">Scenario {{ forloop.counter }}
                      </label>
                  </td>
                  <td>{{ Constants.lottery_payout.1 }} (with {{ successrate }}%) or {{ Constants.lottery_payout.2 }} (with {{ failurerate }}%)</td>
              </tr>
              {% endfor %}
    <!-- always gamble scenario (16) -->
                <tr>
                    <td></td>
                    <td>
                        <label for="id_lottery_choice_16}">
                            <input id="id_lottery_choice_16" type="radio" name="lottery_choice" value="16" required="" class="form-check-input">Always gamble
                        </label>
                    </td>
                    <td></td>
                </tr>
  </tbody>
</table>

<hr>
<div class="alert alert-primary" role="alert">
  <div id="selectedscenario"></div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-3"></div>
  <div class="col-md-3 offset-md-3"><button class="nexttab btn-primary btn next">Choose this scenario</button></div>
</div>

</body>

  <script>
  
    $("input[name='lottery_choice']").on( "click", function() { //function is called when checkbox (input form) is clicked
        $("#tableinfo").hide(); // hide info above table
        var selected_box = parseInt($("input:checked").val()); // int value (1 to 15) of the selected checkbox
        $(`.table`).css("font-weight",'normal'); // style complete table with normal font
        // $(`.table tr:nth-child(${selected_box}) > td:nth-child(1)`).css("font-weight",'bold'); // color first column of selected row in bold
        for (let i = 1; i < 16; i++) { // loop through each table row (table rows start at index 1)
          if (i >= selected_box) { // if current table row is larger/equal than selected box (safe payout)
            $(`.table tr:nth-child(${i}) > td:nth-child(1)`).css("font-weight",'bold'); // color first column of selected row in bold
            $(`.table tr:nth-child(${i}) > td:nth-child(3)`).css("font-weight",'normal'); // undo third column of selected row in bold
          } else { // lottery participation
            $(`.table tr:nth-child(${i}) > td:nth-child(3)`).css("font-weight",'bold'); // color third column of selected row in bold
            $(`.table tr:nth-child(${i}) > td:nth-child(1)`).css("font-weight",'normal'); // undo first column of selected row in bold
          } 
        };

        if (selected_box > 1 && selected_box != 16) {
          var selected_box_before = selected_box - 1; // helper variable for last lottery scenario
          $("#selectedscenario").html(
            "You have chosen scenario " + selected_box + ". That means:</li><li>If scenario 1 to " + selected_box_before + " is drawn, then you participate in the lottery.</li><li> If scenario " + selected_box + " to scenario 15 is drawn, then you receive the safe payment.</li>"); // outputs info text
          } else if (selected_box == 16) {
          $("#selectedscenario").html("<li>You have chosen to always participate in the lottery.</li>"); // outputs info text for first scenario
        } else {
          $("#selectedscenario").html("<li>You have chosen scenario 1. That means:</li><li>You will receive the safe payment in any case, regardless of which scenario is drawn.</li>"); // outputs info text for first scenario
          }
    });
  
  </script>



{% endblock %}
