<style>
    .email {
          font-family:Georgia, serif; 
          border: 1px solid rgb(138, 138, 138); 
          border-radius: 5px;
          padding-left: 12px;
          padding-top: 10px;
    }
  
    .boldspan {
      font-weight: 550;
    }
  </style>
  {% load otree static %}
  
  {% block content %}
  
  <!-- see _templates/global/Page.html for accordion css and calculator css/js. they are available for every page in this project -->
  <!-- see static/orbit/footer.css and calc.js for accordion css and calculator css/js. they are available for every page in this project -->
  <!-- accordings need a different id than in the original instructions html, otherwise wrong accordions will open -->
  
  <div class="row">
    <div class="col-md-12">
        <div class="accordion" id="docaccordion">
  
            <div class="card">
                <div class="card-header accord">
                  <h6>
                    <a class="collapsed" href="#aufgabe2" data-toggle="collapse" onclick="AufgabeClick()">
                      Information about your task
                    </a>
                  </h6>
                </div>
                <div class="collapse" id="aufgabe2" data-parent="#docaccordion1">
                  <div class="card-body">
                    
                    <div>
                        <p>In this experiment, you are taking on the role of a leading project manager at the company <i>CleverClean Inc.</i> As the leading manager of the projects department, you are particularly responsible for the <strong>selection and implementation of potential innovation projects</strong>.</p><hr>
                        
                        <p>A few months ago, CleverClean Inc. got a new management board. The new board especially puts emphasis on the following aspects: <br>

                        <ul>
                          <li>Achievement of high customer and employee satisfaction at any time</li>	
                          <li>Encouragement of employees to take risks in order to create innovative products</li>	
                          <li>Reduction of resource wastage in failing projects</li> 	
                            
                         </ul>
                          
                          In order to generate further growth within the next years, the board intends to launch a new household utensil.<strong> Since you are the manager of the projects department, the board instructs you to choose and manage one out of two potential innovation projects.</strong> At <i>CleverClean Inc.</i>, projects are selected based on their expected return. Hence, projects with higher expected returns are preferred.</p><hr>
                        
            
                        <p>You will receive information about the project ideas after completing the quiz. Based on    this information, you will have to decide which of the two projects <i>CleverClean Inc.</i> should invest in. Once you have decided on one of the two projects, it will be launched. After you selected one project, you have to make up to <strong>two follow-up decisions</strong> whether you want to continue your project.</p><hr>

                        <p>Please be aware that your decisions might be <strong>reviewed by the experimental administrator</strong>. In this case you will receive written feedback on your decisions after you finished the experiment.</p>
                    </div>

                  </div>
                </div>
              </div>


              <div class="card">
                <div class="card-header accord">
                  <h6>
                    <a class="collapsed" href="#unternehmen2" data-toggle="collapse" onclick="UnternehmenClick()">
                      Compensation and experimental currency
                    </a>
                  </h6>
                </div>
                <div class="collapse" id="unternehmen2" data-parent="#docaccordion1">
                  <div class="card-body">

                    <div>
                      <p>During the main task, project related data is reported in the experimental currency <i>Lira</i>. Correspondingly, your compensation is first determined in the experimental currency <i>Lira</i> and will be converted into Dollar at the end of the experiment. 10,000 Lira is equivalent to one Dollar.</p><hr>
                      <p>Your total compensation consists of the following three components:</p>
                      
                      <h5>1. Lottery payment</h5>
                      <p>You will receive information about your lottery payout at the end of the experiment.</p>
                      
                      <h5>2. Fixed payment</h5>
                      <p>At the end of the experiment you will receive <strong>a fixed payment of XX Lira</strong>.</p>

                      <h5>3. Variable payment</h5>
                      <p>The variable compensation is based on the balance of the project account, which is affected by your decisions during the main task. The current balance of the project account amounts to 7.5m Lira.  
                      </p>
                      <p>The balance of the project account is calculated as follows:</p>
                      <ul style="font-style: italic;">
                        <li><strong>Project account balance = 7.5m Lira + (expected discounted cash inflows - initial investment)</strong></li>
                      </ul>
                      <p>At the end of the experiment, you receive a variable compensation, which equals 1% of the balance on your project account:</p>
                      <ul style="font-style: italic;">
                        <li><strong>Variable compensation in Lira = Project account balance × 1%</strong></li>
                      </ul>
                      <p>At the end of this experiment, detailed information on how much money you will receive for participating in this experiment will be displayed.</p>
                      <hr>
                      
                      <h5>Example for the variable compensation:</h5>
                      <ul>
                          
                      <li>The initial balance of the project account is 7.5m Lira.</li>	
                      <li>The initial investment of a project is 3.5m Lira.</li>	
                      <li>The project generates expected discounted cash inflows of 1m Lira.</li> 	
                      <p></p>
                      <li>Thus, the project account balance is 5m Lira (7.5m - 3.5m + 1m = 5m).</li> 	
                      <li>The assessment basis of your compensation therefore is 5.0m Lira.</li>
                      <p></p>
                    </ul>
                      <p>Your variable compensation is 1% of this assessment basis, which equals 50,000 Lira.
                      Accordingly, you would receive a variable compensation of $ 5.00 in this example.</p>
         
                      
                      </div>
                    
                  </div>
                </div>
              </div>

  
         </div>
    </div>
  </div>
  
  {% endblock %}